<app-mat-navbar (navToggle)="sidenav.toggle()"></app-mat-navbar>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="sidenav red lighten-1 white-text pt-4"
               mode="over" [opened]="false" [fixedInViewport]="fixed" [fixedTopGap]="0" [fixedBottomGap]="0">

    Sidenav content

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="col align-middle align-content-center red py-4">
      <h1 class="mat-display-1 text-center white-text mb-0">{{ title }}</h1>
    </div>

    <div class="col-sm-12">
      <app-heroes></app-heroes>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
