<mat-toolbar class="mat-elevation-z6 navbar" color="primary">

  

  <a href="#">
    <i class="material-icons">menu</i>
  </a>
  <div class="flex-spacer" ></div>
  <i class="material-icons">code</i> &nbsp;
  <span>Angular Material Heroes</span>
  <div class="flex-spacer"></div>
  <a href="" class="white-text" style="color: white !important;">
    <!--<img src="../../assets/img/mat-navbar/angular.svg" alt="Angular svg icon" width="24px" />-->
    <img width="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/angular.svg" />
  </a> &nbsp;
  <a href="#">
    <img src="../../assets/img/mat-navbar/Google_Material_Design_Logo.png" alt="Material Design png icon" width="24px">
  </a> &nbsp;
  <a href="#" class="black-text">
    <i class="fa fa-github fa-lg"></i>
  </a>
</mat-toolbar>
