<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <a href="#" class="mat-button" mat-button="" aria-disabled="false">
    <i class="material-icons">menu</i>
  </a>
  <div class="flex-spacer" ></div>
  <a href="/" class="mat-button" aria-disabled="false" mat-button>
    <i class="material-icons">code</i> &nbsp;
    <span>Angular Material Heroes</span>
    <div class="mat-button-ripple mat-ripple" mat-ripple></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <div class="flex-spacer"></div>
  <a href="https://angular.io/" class="navbar-right" aria-disabled="false">
    <img src="../../assets/img/mat-navbar/angular-white.svg" alt="Angular svg icon" width="24px" />
  </a> &nbsp;
  <a href="https://material.angular.io/" class="navbar-right">
    <img src="../../assets/img/mat-navbar/Google_Material_Design_Logo.png" alt="Material Design png icon" width="24">
  </a> &nbsp;
  <a href="https://github.com/codeninja55/angular-material-heroes" class="white-text navbar-right">
    <i class="fa fa-github fa-lg"></i>
  </a>
</mat-toolbar>
