<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div class="col-sm-4 no-gutters p-0">
    <a href="#" class="ml-0 p-0 align-middle">
      <i class="material-icons align-middle">menu</i>
    </a>
  </div>

  <div class="col-sm-4 no-gutters text-center p-0">
    <a href="/" class="mat-button" aria-disabled="false" mat-button>
      <i class="material-icons">code</i>
      <span class="mat-header">Angular Material Heroes</span>
      <div class="mat-button-ripple mat-ripple" mat-ripple></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </div>

  <div class="col-sm-4 no-gutters text-right p-0">
    <a href="https://angular.io/" class="mr-2" aria-disabled="false">
      <img src="../../assets/img/mat-navbar/angular-white.svg" alt="Angular svg icon" width="24px" />
    </a> &nbsp;
    <a href="https://material.angular.io/" class="mr-2">
      <img src="../../assets/img/mat-navbar/Google_Material_Design_Logo.png" alt="Material Design png icon" width="24">
    </a> &nbsp;
    <a href="https://github.com/codeninja55/angular-material-heroes" class="white-text mr-2">
      <i class="fa fa-github fa-lg"></i>
    </a>
  </div>
</mat-toolbar>
