
<div class="row"></div>

<div class="row">
  <div class="col s12 form-container">
    <mat-card class="form-container mat-elevation-z4">
      <mat-form-field [floatPlaceholder]="auto">
        <input type="text" placeholder="Name:" matInput [(ngModel)]="hero.name">
        <mat-hint>Give your hero a name.</mat-hint>
      </mat-form-field>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{ hero.name | uppercase }}</mat-card-title>
        <mat-card-subtitle><span>ID:</span>{{ hero.id }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://i.annihil.us/u/prod/marvel/i/mg/9/80/537ba5b368b7d.jpg" alt="Captain America Image">
      <mat-card-content>
        <p>
          {{hero.name}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
