<div class="col align-middle align-content-center red lighten-1 py-5">
  <h1 class="mat-display-1 text-center white-text mb-0">Tour of Marvel Heroes List</h1>
</div>

<div class="col-sm-12">
  <div class="row mt-3">
    <div class="col-sm-6 offset-sm-3">
      <mat-card class="mat-elevation-z3 mat-typography">
        <mat-nav-list class="">
          <mat-list-item *ngFor="let hero of heroes">
            <a matLine routerLink="/hero/{{ hero.id }}" aria-disabled="false">
              <img matListAvatar src="{{ hero.avatarPath }}" alt="">
              <p class="hero-list blue-grey-text text-lighten-3">{{ hero.id }}</p>
              <p class="hero-list">{{ hero.name}}</p>
            </a>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </div>
  </div>
</div>

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
