<div class="col align-middle align-content-center red lighten-1 py-5">
  <h1 class="mat-display-1 text-center white-text mb-0">Tour of Marvel Heroes List</h1>
  <button mat-fab class="add-hero-fab white-text" routerLink="/hero/add">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 mt-5">
  <mat-card class="mat-elevation-z3 mat-typography">
    <mat-nav-list class="">
      <mat-list-item *ngFor="let hero of heroes">
        <a matLine routerLink="/hero/{{ hero.id }}" aria-disabled="false">
          <img matListAvatar src="{{ hero.avatarPath }}" alt="">
          <p class="hero-list blue-grey-text text-lighten-3">{{ hero.id }}</p>
          <p class="hero-list">{{ hero.name}}</p>
        </a>
        <button mat-icon-button class="red-text text-accent-4" (click)="delete(hero)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</div>

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
