.hero-list {
display: inline;
}

.mat-list-avatar {
width: 30px !important;
height: 30px !important;
}

.mat-list-item {
height: 48px !important;
}

.selected {
  background-color: #607d8b !important;
  color: white;
}
